 @import url(customFonts.css); 


body{
    direction: rtl;
    font-family: IRANSans !important;
}

.zm-Header{
    font-family: Shabnam !important;
  }
  @font-face {
	font-family: Shabnam;
	src: url('../fonts/Shabnam.ttf');
}