@font-face {
	font-family: Fanum;
	src: url('../assets/fonts/IR.ttf') format('ttf');
}
@font-face {
	font-family: Shabnam;
	src: url('../assets/fonts/Shabnam.ttf') format('ttf');
}


#test input{
	/* border:1px solid #000; */
	height: 38px !important;
	width: 70px;
}
#test input:focus-visible{
	height: 30px !important;
	outline-color: transparent !important;
}
.captchas{
	display: flex;
}
#StartDate input{
	/* border:1px solid #000; */
	height: 38px !important;
	width: 100%;
	padding-right: 10px;
	border-radius: 6px;
}
#EndDate input{
	/* border:1px solid #000; */
	height: 38px !important;
	width: 100%;
	padding-right: 10px;
	border-radius: 6px;
}
#FightPathdiv  .css-v68sna-control{
	/* border:1px solid #000; */
border-color: black !important;
height: 42px !important;
border-radius: 6px;
font-family: Shabnam !important;
font-size: 14PX;
} 
.css-blhudp-control{
	
	border: 2px solid black !important;
	box-shadow: none !important;
	height: 42px !important;
	border-radius: 6px !important;
	font-family: Shabnam !important;
	font-size: 14PX;
}
.css-1nmdiq5-menu{
	font-family: Shabnam !important;
	font-size: 14PX;
}
#payam textarea{
	/* border:1px solid #000; */
	height: 100% !important;
	width: 93%;
	padding-top: 13px;
	padding-right: 10px;
	border-radius: 6px;
}
#payam textarea:focus-visible{
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	outline-color: lightgray !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}