@font-face {
	font-family: Fanum;
	src: url('../assets/fonts/IR.ttf') format('ttf');
}

#test input{
	/* border:1px solid #000; */
	height: 38px !important;
	width: 70px;
}
#test input:focus-visible{
	height: 30px !important;
	outline-color: transparent !important;
}
.captchas{
	display: flex;
}
#StartDate input{
	/* border:1px solid #000; */
	height: 38px !important;
	width: 100%;
	padding-right: 10px;
	border-radius: 6px;
}
#EndDate input{
	/* border:1px solid #000; */
	height: 38px !important;
	width: 100%;
	padding-right: 10px;
	border-radius: 6px;
}
#FightPathdiv  .css-v68sna-control{
	/* border:1px solid #000; */
border-color: black !important;
}
#FightPathdiv  .css-v68sna-control:focus-visible{
	/* border:1px solid #000; */
border-color: black !important;
}
#FightPathdiv  .css-v68sna-control:hover{
	/* border:1px solid #000; */
border-color: black !important;
}
#FightPathdiv  .css-blhudp-control:hover{
	/* border:1px solid #000; */
border-color: black !important;
}
#payam textarea{
	/* border:1px solid #000; */
	height: 100% !important;
	width: 93%;
	padding-top: 13px;
	padding-right: 10px;
	border-radius: 6px;
}
#payam textarea:focus-visible{
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	outline-color: lightgray !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}